@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

// Fonts
$font: 'Overpass', sans-serif;
$f-size: 15px;
// Primary Colors
$primary: hsl(0, 0%, 100%);
$secondary: hsl(25, 97%, 53%);
// Neutral Colors
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(216, 19%, 16%);
$veryDarkBlue: hsl(215, 27%, 12%);

:root {
  font-size: $f-size;
}

* {
  box-sizing: border-box;
}

main {
  background: linear-gradient($darkBlue 0%, $veryDarkBlue 40%);
}

h1, p, input, button {
  font-family: $font;
  margin: 0px;
}
h1, button {
  color: $white;
}
p {
  color: hsla(217, 12%, 63%, 0.8);
}

input {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 1rem;
  padding-top: 2px;
  color: $white;
  background-color: hsla(216, 12%, 54%, 0.1);
  border: none;
}
input:hover {
  background: $secondary;
}
input.selected {
  background: $lightGrey;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: 23px;
  font-size: 1rem;
  letter-spacing: 2px;
  color: $primary;
  background-color: $secondary;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  color: $secondary;
  background-color: $primary;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  font-family: $font;
  font-weight: 400;
  color: $primary;
  text-align: center;
  font-size: 1rem;
  
  a {
    text-decoration: none;
    font-weight: 700;
    color: $secondary;
  }
}